@media screen and (min-width: 320px) {
    .page {
        width: 100%;
        font-family: 'Inter', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #000000;
    }
}