@media screen and (min-width: 320px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        color: #FFFFFF;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../../images/Close\ Icon.png);
        background-color: transparent;
        border: none;
        position: absolute;
        top: -36px;
        transition: opacity 1s easy;
    }
}

@media screen and (min-width: 768px) {
    .popup__close-button {
        width: 32px;
        height: 32px;
        top: -44px;
        right: -37px;
    }
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}